[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Matroska specification.
[access "refs/*"]
	owner = group user/Michael Richardson (mcr)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Michael Richardson (mcr)
	label-Verified = -1..+1 group user/Michael Richardson (mcr)
	push = group user/Michael Richardson (mcr)
	read = group user/Michael Richardson (mcr)
	rebase = group user/Michael Richardson (mcr)
	removeReviewer = group user/Michael Richardson (mcr)
	submit = group user/Michael Richardson (mcr)
[access "refs/heads/*"]
	create = group user/Michael Richardson (mcr)
	push = +force group user/Michael Richardson (mcr)
	pushMerge = group user/Michael Richardson (mcr)
	read = group user/Michael Richardson (mcr)
[access "refs/tags/*"]
	push = group user/Michael Richardson (mcr)
	push = +force group user/Michael Richardson (mcr)
