<footer id="footer" class="site-footer region region-footer">
  <div id="block-block-1" class="block block-block first last odd">
    <p class="rtecenter" style="font-size: smaller"><b>Copyright ® 2005 - 2013 Matroska (non-profit org), All Rights Reserved.</b>  <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> Valid. <br /><a href="http://sourceforge.net/projects/matroska"><img alt="Get Matroska at SourceForge.net. Fast, secure and Free Open Source software downloads" src="http://sflogo.sourceforge.net/sflogo.php?group_id=68739&amp;type=10" width="80" height="15" /></a> - <a href="https://github.com/Matroska-Org">GitHub</a></p>
  </div>
</footer>
