<h2 class="block__title block-title">Main Menu</h2>
    
  <ul><li><a href="https://matroska.org/index.html" title="Welcome">Home</a></li>
<li><a href="https://matroska.org/technical/whatis/index.html" title="What is Matroska?">What is Matroska?</a></li>
<li><a href="https://matroska.org/downloads/windows.html" title="">Downloads</a></li>
<li><a href="https://matroska.org/technical/guides/index.html" title="Guides/FAQ">Guides</a></li>
<li><a href="https://matroska.org/technical/guides/faq/index.html" title="FAQ">FAQ</a></li>

<li><a href="{{ site.baseurl }}/index.html" title="Technical Details">Technical / Info</a><ul>
<li><a href="{{ site.baseurl }}/diagram.html" title="Diagram">Diagram</a></li>
<li><a href="{{ site.baseurl }}/technical-index.xml" title="Matroska - Specifications">Specifications</a></li>
<li><a href="{{ site.baseurl }}/notes.html" title="Specification Notes">Specification Notes</a></li>
<li><a href="{{ site.baseurl }}/ordering.html" title="EBML Element Ordering">Element Ordering</a></li>
<li><a href="{{ site.baseurl }}/codec_specs.html" title="Codec Specs">Codec Specs</a></li>
<li><a href="{{ site.baseurl }}/chapters.html" title="Chapter Specifications">Chapters</a></li>
<li><a href="{{ site.baseurl }}/subtitles.html" title="Subtitles">Subtitles</a></li>
<li><a href="{{ site.baseurl }}/tagging.html" title="Tag Specifications">Tags</a></li>
<li><a href="{{ site.baseurl }}/attachments.html" title="Attachments">Attachments</a></li>
<li><a href="{{ site.baseurl }}/cues.html" title="Cues">Cues</a></li>
<li><a href="{{ site.baseurl }}/streaming.html" title="Matroska Streaming">Streaming</a></li>
<li><a href="{{ site.baseurl }}/menu.html" title="Menu Specifications">Menu</a></li>
<li><a href="https://matroska.org/technical/specs/rfc/index.html" title="EBML RFC">EBML RFC</a></li>
<li><a href="https://matroska.org/team/source-code.html" title="SVN Repository">Source Code Repository</a></li>
<li><a href="{{ site.baseurl }}/team.html" title="Team">Team</a></li>
<li><a href="{{ site.baseurl }}/license.html" title="License">License</a></li>
</ul></li>
<li><a href="https://matroska.org/blog/bogus.html" title="Misc Matroska related articles">Blog</a></li>
</ul>
